
<div class="col-md-5 bg-primary">
  <form>
    <div class="form-group">
      <label for="inputEmail" style="color: white">E-Mail</label>
      <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Insira seu Email">
    </div>
    <div class="form-group">
      <label for="senha">Senha</label>
      <input type="password" class="form-control" id="senha" placeholder="Insira sua Senha">
    </div>
    <button type="submit" class="btn btn-primary bg-dark">Entrar</button>
    <br><br>
  </form> 
</div>
<!--router-outlet></router-outlet>--> 