
    <!-- Sidebar -->
    <div class="bg-primary border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">
        <div class="navbar-text">
          <img src="assets/img/icone.png" class="img">
          <br>
          Bem vindo, {{ usuario }} 
        </div>    
      </div>
      <div class="list-group list-group-flush">
        <a href="#" class="bg-primary list-group-item list-group-item-action">Geral</a>
        <a href="#" class="bg-primary list-group-item list-group-item-action">Gerenciamento de API's</a>
        <a href="#" class="bg-primary list-group-item list-group-item-action">Gerenciamento de Funcionarios</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->
