
    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper" [ngbCollapse]="isToggled">
      <div class="sidebar-heading">
        <!-- <img src="icone.png" class="img"> -->
        <br>
        Bem vindo, {{ usuario }} 

      </div>
      <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action bg-light">Home</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Gerenciamento de API</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Gerenciamento de Usuario</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->
