<div class="d-flex" id="wrapper">

    <app-sidebar></app-sidebar>

    <div id="page-content-wrapper">
        <div class="aparecer">
            <app-nav-bar></app-nav-bar>
        </div>
        <div class="container-fluid">
            <br><br>
            <div class="card" style="width: 18rem;">
                <img src="assets/img/pc.png" class="card-img-top" alt="...">
                <hr>
                <div class="card-body">
                  <h5 class="card-title"> {{ funcionario }} </h5>
                  <p class="card-text"> {{nomePC}} </p>
                  <p class="card-text"> {{ processador }} </p>
                </div>
              </div>
        </div>

    </div>

</div>